@import "tailwindcss";

@theme {
  --font-sans: "Funnel Sans", sans-serif;
}

body {
  /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-image: linear-gradient(to left, #09203f 0%, #537895 100%); */
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */

  background:
    linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -10;
}
